@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital@0;1&family=Inter:opsz,wght@14..32,500&family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alan Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}
  